<div>
    <%= image_tag @post_image.get_image %>
    <p>ショップ名：<%= @post_image.shop_name %></p>
    <p>説明：<%= @post_image.caption %></p>
    
    <!-- @post_image・インスタンス変数（コントローラで設定された変数で、ビュー全体でアクセス可能） -->
    <p>ユーザアイコン：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
    <p>ユーザネーム：<%= @post_image.user.name %></p>
    <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

    <% if @post_image.user == current_user %>
        <%= link_to "削除", post_image_path(@post_image), method: :delete %>
    <% end %>
</div>

<div>
    <p>コメント件数：<%= @post_image.post_comments.count %></p>
    <% @post_image.post_comments.each do |comment_item|%>
        <p><%= image_tag comment_item.user.get_profile_image(100,100)%></p>
        <%= comment_item.user.name %>
        <%= comment_item.created_at.strftime("%Y/%m/%d") %>
        <%= comment_item.comment %>
        <% if comment_item.user == current_user %>
            <%= link_to "削除", post_image_post_comment_path(comment_item.post_image, comment_item), method: :delete %>
        <% end %>
    <% end %>
</div>

<div>
    <%= form_with model: [@post_image, @post_comment] do |f| %>
        <%= f.text_area :comment, row: "5", placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
    <% end %>
</div>